{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags%}


{% block content %}
<div class="container h-90"> <!--h-100= 100% height-->
    <div class="row h-90">
        <div class="col my-auto">  <!--7 is default and 6 is med to large screens, 'my' will vertically centre-->
            <h1 class="text-white display-4 logo-font "> <!---->
                <strong>BluePrint</strong><br class="hide">WebDesigns
            </h1>
            
        </div>
    </div>
</div>
    {% endblock %}

