{% extends "base.html" %}
{% block content %}
{% load static %}


<div class="overlay"></div>
<div class="package-div">
    <div>
    <h1>is this package for you?</h1>
        <div>
            
            <a href="{{ package.image.url }}" target="_blank">
                <img class="package-detail-img" src="{{ package.image.url }}" alt="{{ package.name }}">
            </a>
            <h3 class="mt-2">{{ package.name }}</h3>  
            <p class="project-description">Price: {{ package.price }} (ex. tax)</p> 
        </div>
       
        <div>
            <p class="project-description"><i>{{ package.full_description }}</i></p>

            <form class="form" action="{% url 'add_to_cart' package.id %}" method="POST">
                {% csrf_token %}
                <!-- <div class="form-row">
                    <div class="col-12">
                        <p class="mt-3"><strong>Quantity:</strong></p>
                        <div class="form-group w-50">
                            <div class="input-group">
                                <input class="form-control qty_input" type="number" name="quantity" value="1" min="1" max="99" data-item_id="{{ package.id }}" id="id_qty_{{ package.id }}">
                            </div>
                        </div>
                    </div> -->

                    <div class="col-12">
                        <a href="{% url 'all_packages' %}" class="btn btn-signup">
                            <span class="icon">
                                <i class="fas fa-chevron-left"></i>
                            </span>
                            <span class="text-uppercase">Keep Browsing</span>
                        </a>
                        
                        <input type="submit" class="btn btn-signup" value="Add to cart">
                    </div>
                    <input type="hidden" name="redirect_url" value="{{ request.path }}">
                    
                </div>
            </form>
        </div>
        
    </div>

</div>



</div>

{% endblock %}