{% extends "base.html" %}
{% block content %}
{% load static %}


<div class="overlay"></div>
<div class="projects project-div package package-div">
    <div>
    <h1>Let's keep things simple.</h1>
    <h3>We offer just four packages.</h3>
    <h3>Take a Look and see what best suits your needs.</h3>
        {% for package in packages %}
        <a class="text-dark" href="{% url 'package_detail' package.id %}"> 
            <img class="package-img" src="{{ package.image.url }}" alt="{{ package.name }}">
            <h3 class="mt-2">{{ package.name }}</h3>
        </a>
            
            <p class="project-description"><i>{{ package.short_description }}</i></p>
            <p class="project-description">Price:€{{ package.price }} (ex. tax)</p>
            
            <br><br><br>
            {% endfor %}
        
    </div>


</div>



</div>

{% endblock %}