/*------------------base css----------------------------*/
.nav-brand-text {
    font-size:x-large
}

.text-white {
    color: white;
}

strong {
    color: blue;
}

/*remove whitspace from beneath footer*/
footer {
    position: absolute;
    width: 100%;
    bottom: 0;
}
