/*------------------base css----------------------------*/
html, body {
    padding:0; 
    margin:0; 
    height:100%;
}

footer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin-top: 5%;
    width: 100%;
}

/*remove whitspace from beneath footer*/
/* footer {
    position: absolute;
    width: 100%;
    bottom: 0;
} */


body {
    background: url('/media/blueprint-background-unsplash.jpg') no-repeat center center fixed;  /*makes image stay in center of page*/
    background-size: cover;                                                                  /*makes image stay in center of page*/
    /*height: calc(100vh - 164px); 164 will be eventual height of top header*/
    
    font-family: 'Montserrat';
}

/* from Bulma */           /*css from bulma- like bs library, keeps fs icon center and same size unless made otherwise*/
.icon {                       
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.nav-brand-text {
    font-size:x-large
}

.text-white {
    color: white;
}

strong {
    color: #4cbcd7;
}

.navbar-toggler {
    color: white;
}

/*log in, signup log out boxes*/
.all-forms {
    background-color: #31313B;
    width: 40%;
    margin: auto; 
    padding: 2%;
    border-radius:8px;
    color: antiquewhite;
   
}

.text-align {
    text-align: center;
}

.btn-signup {
    background-color:antiquewhite;
    color:black; 
    margin: 2%;    
}

.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: #4cbcd7 ;
	z-index: -1;  /*make this sit on top of everything else on page*/
}

hr {
    width: 50%;
}

.alert {
    background-color: aqua;
    width: 50%;
}

/*----projects----*/

.proj-img {
    padding: 4px;
    border: black solid 1px;
    width: 60%;
    height: 13%;
    border-radius: 50%;
}

.projects {
    margin-left: 4%;
    text-align: center;

  }

  .div-margin {
    margin-bottom: 20px;
  }


  .project-description {
   padding-left: 20%;
   padding-right: 20%;
  }

  .project-div {
    height: 100%;
  }

  a {
    color: white;
  }

/* -------------------------------- Media Queries */

@media screen and (min-width: 940px) {
    .projects {
        display: grid;
        grid-template-columns: auto auto auto;
        text-align: center;
        }
}

@media screen and (max-width: 550px) {
.genre-image {
    width: 75%;
    }
}


/* Slightly larger container on xl screens */                       /*taken from walkthrough*/
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */                                   /*taken from walkthrough*/
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }
}

@media (min-width: 754px) {
.hide {
    display: none;
}
}

@media (max-width: 390px) {
.logo-font {
    font-size: 40px;
}
}

@media screen and (max-width: 750px) {
    .all-forms{
        width: 70%;
    }
    }