/*------------------base css----------------------------*/
html {
    height: 100%;
}

body {
    background: url('/media/blueprint-background-unsplash.jpg') no-repeat center center fixed;  /*makes image stay in center of page*/
    background-size: cover;                                                                  /*makes image stay in center of page*/
    /*height: calc(100vh - 164px); 164 will be eventual height of top header*/
    
    font-family: 'Montserrat';
}

/* from Bulma */           /*css from bulma- like bs library, keeps fs icon center and same size unless made otherwise*/
.icon {                       
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.nav-brand-text {
    font-size:x-large
}

.text-white {
    color: white;
}

strong {
    color: #4cbcd7;
}

.navbar-toggler {
    color: white;
}


/*remove whitspace from beneath footer*/
footer {
    position: absolute;
    width: 100%;
    bottom: 0;
}









/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */                       /*taken from walkthrough*/
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */                                   /*taken from walkthrough*/
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }
}

@media (min-width: 754px) {
.hide {
    display: none;
}
}

@media (max-width: 390px) {
.logo-font {
    font-size: 40px;
}
}