{% extends "base.html" %}
{% load crispy_forms_tags%}
{% load static %}


{% block content %}
<div class="overlay-white"></div>
<h1 class="text-align mb-5">Checkout</h1>
<div>
    <div class="row">
        <div class="col text-align">
            <!---------------------order summary------------------------->
            <div class="row mr-3">
                <div class="col-12 col-lg-6 order-lg-last mb-5">
                    <p class="text-muted">Order Summary</p>
                    <hr>
                    <div class="row">
                        <div class="col-7 offset-2">
                            <p class="mb-1 mt-0 small text-muted">Item</p>
                        </div>
                        <div class="col-3 text-right">
                            <p class="mb-1 mt-0 small text-muted">Subtotal</p>
                        </div>
                    </div>
                    {% for item in cart_items %}
                        <div class="row">
                            <div class="col-2 mb-1">
                                <a href="{% url 'package_detail' item.package.id %}">
                                        <img class="w-100" src="{{ item.package.image.url }}" alt="{{ package.name }}"> 
                                </a>
                            </div>
                            <div class="col-7">
                                <p class="my-0"><strong>{{ item.package.name }}</strong></p>
                                
                                <p class="my-0 small text-muted">Qty: {{ item.quantity }}</p>
                            </div>
                            <div class="col-3 text-right">
                                <p class="my-0 small text-muted">€{{ item.package.price }}</p>
                            </div>
                        </div>
                    {% endfor %}
                    <hr class="my-0">
                    <div class="row text-black text-right">
                        <div class="col-7 offset-2">
                            <p class="my-0">Order Total:</p>

                            <p class="my-0">Tax:</p>
                        
                            <p class="my-0">Grand Total:</p>
                        </div>
                        <div class="col-3">
                            <p class="my-0">€{{ total | floatformat:2 }}</p>
                            <p class="my-0">€{{ tax|floatformat:2 }}</p>
                            <p class="my-0"><strong>€{{ grand_total | floatformat:2 }}</strong></p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6">

            <!----------------------order sum end---------------------------------------------------------->



            <p class="text-muted">Please fill out form to complete your order</p>


                <!----------------------form--------------------------------------------->
                <form action="{% url 'checkout' %}" method="POST" id="payment-form">
                    {% csrf_token %}
                    <fieldset class="rounded px-3 mb-5">
                        <legend class="fieldset-label small text-black px-2 w-auto">Your Details</legend>
                        {{ package_ordered_form.customer_name }}
                        <hr>
                        {{ package_ordered_form.customer_email }}
                        <hr>
                        {{ package_ordered_form.phone_number }}
                        <hr>
                        {{ package_ordered_form.postcode }}
                      <small id="Help" class="form-text text-muted">(Optional)</small>
                    </fieldset>

                    <!-- may be removed later-->
                    

                    <fieldset class="px-3">
                        <legend class="fieldset-label small text-black px-2">Please enter your debit/credit card details</legend>
                        <!-- Stripe card element-->
                        <div class="mb-3" id="card-element"></div>
                        <!-- <div class="mb-3 form-control" id="card-element"></div> box looks ok but doesn't work -->
                        <!-- display form errors -->
                        <div class="mb-3 text-danger" id="card-errors" role="alert"></div>
                        <input type="hidden" value="{{ client_secret }}" name="client_secret">
                    </fieldset>

                    <div class="submit-button">                    
						<a href="{% url 'view_cart' %}" class="btn btn-outline-black rounded">
							<span class="icon">
								<i class="fas fa-chevron-left"></i>
							</span>
							<span class="font-weight-bold">Return To Cart</span>
						</a>
						<button id="submit-button" class="btn pay-btn rounded">
							<span class="font-weight-bold">Complete Order</span>
							<span class="icon">
								<i class="fas fa-lock"></i>
							</span>
						</button>
						<p class="small text-danger my-0">
							<span class="icon">
								<i class="fas fa-exclamation-circle"></i>
							</span>
							<span>Your card will be charged <strong>${{ grand_total|floatformat:2 }}</strong></span>
						</p>
					</div>
                  </form>
                <!--------------------------end of form------------------------->


        </div>
    </div>
</div>


<script>
    var stripePublicKey = $('#id_stripe_public_key').text().slice(1, -1);
var clientSecret = $('#id_client_secret').text().slice(1, -1);
var stripe = Stripe(stripePublicKey);
var elements = stripe.elements();

// card number text faded
var style = {
    base: {
        color: '#000',
        fontFamily: '"Helvetica Neue", Helvetica, sans-serif',
        fontSmoothing: 'antialiased',
        fontSize: '16px',
        '::placeholder': {
            color: '#aab7c4'
        }
    },
    invalid: {
        color: '#dc3545',
        iconColor: '#dc3545'
    }
};
var card = elements.create('card', {style: style});
console.log("card: ", card);
card.mount('#card-element');


// Handle realtime validation errors on the card element
card.addEventListener('change', function (event) {
    var errorDiv = document.getElementById('card-errors');
    if (event.error) {
        var html = `
            <span class="icon" role="alert">
                <i class="fas fa-times"></i>
            </span>
            <span>${event.error.message}</span>
        `;
        $(errorDiv).html(html);
    } else {
        errorDiv.textContent = '';
    }
});


// Handle form submit
var form = document.getElementById('payment-form');

form.addEventListener('submit', function(ev) {
    ev.preventDefault();                     
    card.update({ 'disabled': true});              
    $('#submit-button').attr('disabled', true);    
    var saveInfo = Boolean($('#id-save-info').attr('checked'));
    var csrfToken = $('input[name="csrfmiddlewaretoken"]').val();
    var postData = {
        'csrfmiddlewaretoken': csrfToken,
        'client_secret': clientSecret,
        'save_info': saveInfo,
    };
    var url = '/checkout/cache_checkout_data/';
    $.post(url, postData).done(function () {
        stripe.confirmCardPayment(clientSecret, {
            payment_method: {
                card: card,
                billing_details: {
                    name: $.trim(form.customer_name.value),
                    phone: $.trim(form.phone_number.value),
                    email: $.trim(form.customer_email.value),
                    address:{
                        postal_code: $.trim(form.postcode.value),
                    }
                }
            },
            shipping: {
                name: $.trim(form.customer_name.value),
                phone: $.trim(form.phone_number.value),
                address: {
                    postal_code: $.trim(form.postcode.value),   
                }
            },
        }).then(function(result) {
            if (result.error) {
                var errorDiv = document.getElementById('card-errors');
                var html = `
                    <span class="icon" role="alert">
                    <i class="fas fa-times"></i>
                    </span>
                    <span>${result.error.message}</span>`;
                $(errorDiv).html(html);
                card.update({ 'disabled': false}); // in case of error, re-inable cart for user to adjust
                $('#submit-button').attr('disabled', false);
            } else {
                if (result.paymentIntent.status === 'succeeded') {
                    form.submit();
                }
            }
        });
    }).fail(function () {
        // just reload the page, the error will be in django messages
        location.reload();  
    })
});
</script>


{% endblock %}
{% block postloadjs %}
    {{ block.super }}
    {{ stripe_public_key|json_script:"id_stripe_public_key" }}
    {{ client_secret|json_script:"id_client_secret" }}
    <script src="{% static 'js/stripe_elements.js' %}" defer></script>
{% endblock %}
