{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags%}


{% block content %}
<div class="overlay-white"></div>
<div>
    <h1 class="text-align mb-5">Thank you {{ order.customer_name}} for placing your order!</h1>
    <h4 class="text-align mb-5">We will be in touch soon to discuss the details of your new venture!</h4>
</div>

<div class="row ">
    <div class="col-12 col-lg-7">
        <div class="p-2 border">


            <div class="row">
                <div class="col">
                    <small class="text-muted">Order Details:</small>
                </div>
            </div>

            {% for item in package_order.lineitems.all %}
            <div class="row">
                <div class="col-12 col-md-4">
                    <p class="mb-0 text-black font-weight-bold">Package: {{ item.package.name }}</p>
                </div>
                <div class="col-12 col-md-8 text-md-right">
                    <p class="mb-0"> €{{ item.package.price }} </p>
                </div>
            </div>
            {% endfor %}



            <div class="row">
                <div class="col-12 col-md-4">
                    <p class="mb-0 text-black font-weight-bold">Name</p>
                </div>
                <div class="col-12 col-md-8 text-md-right">
                    <p class="mb-0">{{ package_order.customer_name }}</p>
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-md-4">
                    <p class="mb-0 text-black font-weight-bold">Email</p>
                </div>
                <div class="col-12 col-md-8 text-md-right">
                    <p class="mb-0">{{ package_order.customer_email }}</p>
                </div>
            </div>


            {% if order.postal_code %}
            <div class="row">
                <div class="col-12 col-md-4">
                    <p class="mb-0 text-black font-weight-bold">Postal Code</p>
                </div>
                <div class="col-12 col-md-8 text-md-right">
                    <p class="mb-0">{{ package_order.postal_code }}</p>
                </div>
            </div>
            {% endif %}



            <div class="row">
                <div class="col-12 col-md-4">
                    <p class="mb-0 text-black font-weight-bold">Phone Number</p>
                </div>
                <div class="col-12 col-md-8 text-md-right">
                    <p class="mb-0">{{ package_order.phone_number }}</p>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <small class="text-muted">Order Info:</small>
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-md-4">
                    <p class="mb-0 text-black font-weight-bold">Order Number</p>
                </div>
                <div class="col-12 col-md-8 text-md-right">
                    <p class="mb-0">{{ package_order.order_number }}</p>
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-md-4">
                    <p class="mb-0 text-black font-weight-bold">Date Ordered</p>
                </div>
                <div class="col-12 col-md-8 text-md-right">
                    <p class="mb-0">{{ package_order.date }}</p>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <small class="text-muted">Billing Info:</small>
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-md-4">
                    <p class="mb-0 text-black font-weight-bold">Total</p>
                </div>
                <div class="col-12 col-md-8 text-md-right">
                    <p class="mb-0">{{ package_order.order_total }}</p>
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-md-4">
                    <p class="mb-0 text-black font-weight-bold">Tax</p>
                </div>
                <div class="col-12 col-md-8 text-md-right">
                    <p class="mb-0">{{ package_order.order_tax }}</p>
                </div>
            </div>



            <div class="row">
                <div class="col-12 col-md-4">
                    <p class="mb-0 text-black font-weight-bold">Grand Total</p>
                </div>
                <div class="col-12 col-md-8 text-md-right">
                    <p class="mb-0">{{ package_order.grand_total }}</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="text-align">
    <a href="{% url 'all_packages' %}" class="btn success-page-btn">
        <span class="icon">
            <i class="fas fa-chevron-left"></i>
        </span>
        <span>Packages Page</span>
    </a>
</div>

{% endblock %}