{% extends "base.html" %}
{% load static %}

{% block content %}
<h1 class="text-align">projects page</h1>
<div class="overlay"></div>


<div class="projects grid-wrapper">
    {% for project in projects %}
    <div>
        <img class="proj-img" src="{{ project.project_image.url }}" alt="">
        <h3>{{ project.project_title }}</h3>
        <p><i>{{ project.project_description }}</i></p>
        <p>Programming languages used: {{ project.project_language }}</p>
        <a href="{{ project.project_url }}" target="_blank">View site</a>
        <hr>
        
        {% if forloop.counter|divisibleby:4 %}
    </div>
    <div>
        {% endif %}
        {% endfor %}
       
    </div>

</div>

{% endblock %}