{% extends "base.html" %}
{% block content %}
{% load static %}
<div class="overlay"></div>
<div class="projects project-div">
  
       
    
    <div>
        {% for project in projects %}
        <img class="proj-img" src="{{ project.project_image.url }}" alt="large thumbnail image of blueprint webdesign previous work">
        <h3>{{ project.project_title }}</h3>
        <p class="project-description"><i>{{ project.project_description }}</i></p>
        <p class="project-description">Programming Languages Used: {{ project.project_language }}</p>
        <a href="{{ project.project_url }}" target="_blank">View '{{ project.project_title }}' site</a>
        <br><br><br>
        {% if forloop.counter|divisibleby:4 %}
    </div>
    
    <div>
        {% endif %}
        {% endfor %}
    </div>
</div>

{% endblock %}

