{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags%}


{% block content %}
<div class="overlay-white"></div>
<h1 class="text-align">My Cart</h1>
<hr>
<div>
    <div class="row">
        <div class="col text-align">
            {% if cart_items %}
              <div class="table-responsive rounded">
                  <table class="table table-hover table-borderless">
                      <thead>
                        <tr>
                          <th scope="col">Package</th>
                          <th scope="col">Price</th>
                          <!-- <th scope="col">qty</th> -->
                        </tr>
                      </thead>
                        {% for item in cart_items %}
                      <tbody>
                        <tr>
                          <td>{{ item.package.name }}</td>
                          <td>{{ item.package.price }}</td> 
                          <!-- <td>{{ item.quantity }}</td>  -->
                          <td><a class="remove-item text-danger float-right" id="remove_{{ item.item_id }}"><small>Remove</small></a></td>
                            
                        </tr>
                    
                          
                        {% endfor %}
                        <tr>
                          <td colspan="5" class="pt-5 text-right">
                            <hr><br>
                            <h6>Cart Total: ${{ total|floatformat:2 }}</h6>
                            <h6>Tax: ${{ tax|floatformat:2 }}</h6>
                            <h4 class="mt-4">Grand Total: ${{ grand_total|floatformat:2 }}</h4>   
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
            {% else %}
                <p class="lead mb-5">Your cart is empty.</p>
                <a href="{% url 'all_packages' %}" class="btn btn-outline-black rounded-0 btn-lg">
                    <span class="icon">
                        <i class="fas fa-chevron-left"></i>
                    </span>
                    <span class="text-uppercase">Packages Page</span>
                </a>
            {% endif %}
        </div>
    </div>
</div>



{% endblock %}

