{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <script src="https://kit.fontawesome.com/d275c14094.js" crossorigin="anonymous"></script>
    {% block meta %}
    <!-- Required meta tags -->
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keywords" content="business online online Business ,best website builder for small business, cost to build a website, online advertising, sell online">
    <meta name="description" content="BluePrint WebDesigns is a service providing fully functional e-commerce websites to businesses.">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    {% block corecss %}
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link href="//cdn-images.mailchimp.com/embedcode/classic-071822.css" rel="stylesheet" type="text/css">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block corejs %}
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
    </script>
    <script src="https://js.stripe.com/v3/"></script>
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

    <title>BluePrint WebDesigns</title>
    </head>

    <body>

      <!--navbar-->
      <nav class="mb-4 navbar navbar-expand-lg navbar-light bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03"
          aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <a class="nav-brand-text  text-white nav-text navbar-brand" href="/"><span
            class="bluetext">BluePrint</span>WebDesigns</a>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
              <a class="text-white nav-link" href="{% url 'projects_list' %}">Our Work <span
                  class="hide-pipe">&nbsp;&nbsp;|</span></a>
            </li>
            <li class="nav-item">
              <a class="text-white nav-link" href="{% url 'all_packages' %}">Product Packages <span
                  class="hide-pipe">&nbsp;&nbsp;|</span></a>
            </li>
            <li class="nav-item">
              <a class="text-white nav-link" href="{% url 'reviews_list' %}">Reviews <span
                  class="hide-pipe">&nbsp;&nbsp;|</span></a>
            </li>
            <li class="nav-item">
              <a class="text-white nav-link" href="{% url 'subscribe_form' %}">Get In Touch <span
                  class="hide-pipe">&nbsp;&nbsp;|</span></a>
            </li>
            <li class="nav-item">
              <a class="text-white nav-link" href="{% url 'newsletter' %}">News Letter <span
                  class="hide-pipe">&nbsp;&nbsp;|</span></a>
            </li>
          </ul>
          
          <!--account dropdown menu-->
          <ul>
          <li class="list-inline-item dropdown">
            <!--data-toggle links to bs js to open dropdown-->
            <a class="text-black nav-link" href="#" id="user-options" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
              <div class="text-center account">
                <div><i class="fas fa-user fa-lg"></i></div>
                <p class="text-white my-0">Account</p>
              </div>
            </a>
            <!--django template tag for what is displayed in dropdown menu-->
            <div class="dropdown-menu border-0" aria-labelledby="user-options">

              {% if request.user.is_authenticated %}
              <!--if registered =  display 'my profile and 'log out'-->
              {% if request.user.is_superuser %}
              <a href="https://ci-pp5-blueprint-webdesigns.herokuapp.com/admin" target="_blank"
                class="dropdown-item">Admin Panel</a>
              {% endif %}
              <span class=" ">Logged in as: <br> <strong>{{ user }}</strong> </span>
              <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
              <a class="{% if grand_total %}text-info font-weight-bold{% else %}text-black{% endif %} nav-link"
                href="{% url 'view_cart' %}">My Cart
                {% if grand_total %}
                ${{ grand_total|floatformat:2 }}
                <!--if grand total exist= display within 2 decimals-->
                {% else %}
                $0.00
                <!--if not exist= display 0-->
                {% endif %}
              </a>

              {% else %}
              <!--if not registered=display 'Register and 'login'-->
              <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
              <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
              {% endif %}
            </div>
          </ul>
        </div>
      </nav>

      {% for message in messages %}
      <div class="alert {{ message.tags }} alert-dismissible fade show msg-box" id="msg" role="alert">
        {{ message | safe }}
      </div>
      {% endfor %}

      {% block postloadjs %}

      {% endblock %}
      <!--main tag-->
      <main>
        {% block content %}

        {% endblock %}
      </main>

      <!--footer-->
      <footer class="py-2 page-footer font-small darken-3 bg-dark text-white footer mt-auto ">
        <div class="container text-center">
          <div class="row">
            <div class="col">
              <!-- Facebook -->
              <a href="https://www.facebook.com/profile.php?id=100088880464547" target="_blank" rel="noopener" aria-label="view our facebook page(opens in new window)" class="fb-ic">
                <i class="fab fa-facebook-f fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
              </a>
            </div>
            <div class="col">
              <!--Linkedin -->
              <a href="https://ie.linkedin.com/" target="_blank" rel="noopener" aria-label="view our linkedin page(opens in new window)" class="li-ic">
                <i class="fab fa-linkedin-in fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
              </a>
            </div>
            <div class="col">
              <!--Github -->
              <a href="https://github.com/paulfitzpatrick85" target="_blank" rel="noopener" aria-label="view our github page(opens in new window)" class="li-ic">
                <i class="fab fa-github fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
              </a>
            </div>
          </div>
        </div> 
      </footer>
    
    <script src="{% static 'js/script.js' %}"></script>
    <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
    <script type='text/javascript'>
      (function ($) {
        window.fnames = new Array();
        window.ftypes = new Array();
        fnames[0] = 'EMAIL';
        ftypes[0] = 'email';
        fnames[1] = 'FNAME';
        ftypes[1] = 'text';
        fnames[2] = 'LNAME';
        ftypes[2] = 'text';
        fnames[3] = 'ADDRESS';
        ftypes[3] = 'address';
        fnames[4] = 'PHONE';
        ftypes[4] = 'phone';
        fnames[5] = 'BIRTHDAY';
        ftypes[5] = 'birthday';
      }(jQuery));
      var $mcj = jQuery.noConflict(true);
    </script>

  </body>
</html>